@import 'extends';

.section {
  @extend .section;
  height: 508px;
  border-top: 1px solid #ebebef;
}

.container {
  @extend .container;
  height: 380px;
  gap: 40px;

  a {
    width: 169px;
    height: 58px;
    padding: 12px 0px 6px 0px;
    align-self: center;

    img {
      width: 100%;
      height: 40px;
    }
  }
}

.layout {
  height: 283px;
  gap: 150px;
  display: flex;
  justify-content: space-between;
}

.navigation {
  width: 540px;
  height: 162px;
  gap: 44px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  p {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    color: #84889a;
    letter-spacing: 1px;
    padding-bottom: 16px;
  }

  a {
    align-self: flex-start;
    text-decoration-line: none;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    color: #030407;
  }
}

.formWrapper {
  width: 450px;
  height: 90px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  p {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    color: #84889a;
  }

  form {
    display: flex;
    height: 48px;
    gap: 16px;
    justify-content: space-between;

    input {
      border: 1px solid #ebebef;
      padding: 14.5px 19px;
      width: 100%;
    }

    input:placeholder {
      font-family: 'Inter';
      font-size: 15px;
      font-weight: 400;
      line-height: 18.15px;
      text-align: left;
    }

    button {
      width: 115px;
      height: 48px;
      background-color: #443fde;
      font-family: 'Inter';
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.28px;
      text-align: center;
      color: #ffffff;
    }
  }
}


@media screen and (max-width: 648px) {
  .section {
    padding: 32px 16px;
    height: 511px;
  }

  .container {
    width: 335px;
    height: 447px;
    gap: 40px;
  }

  .layout {
    width: 335px;
    height: 350px;
    gap: 40px;
    flex-direction: column;
    justify-content: unset;
  }

  .navigation {
    width: 100%;
  }

  .formWrapper {
    width: 335px;
    flex-direction: column;

    form {
      height: 146px;
      flex-direction: column;

      input {
        width: auto;
      }

      button {
        width: 100%;
        height: 44px;
      }
    }
  }

}