.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 390px;
  box-sizing: border-box;
  width: 100vw;
  overflow: hidden;
}

/* .banner {
  @extend .section;
  height: 92px;
  border-bottom: 1px solid #ebebef;
} */

/* .header {
  @extend .section;
  height: 1110px;
} */

/* .section-1 {
  @extend .section;
  height: 865px;
  background: #f9f9fb;
} */

/* .section-companies {
  @extend .section;
  height: 576px;
} */

.section-2 {
  @extend .section;
  height: 720px;
}

/* .section-3 {
  @extend .section;
  height: 746px;
  background: #f9f9fb;
} */

.blog-section {
  @extend .section;
  height: 744px;
}

/* .section-4 {
  @extend .section;
  height: 482px;
} */

/* .footer {
  @extend .section;
  height: 508px;
  border-top: 1px solid #ebebef;
} */

.container {
  width: 1140px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .container-banner {
  @extend .container;
  flex-direction: row;
  height: 44px;
} */

/* .container-header {
  @extend .container;
  height: 986px;
} */

/* .container-regular-1 {
  @extend .container;
  height: 738px;
} */

/* .container-companies {
  @extend .container;
  gap: 58px;
  height: 738px;
} */

.container-regular-2 {
  @extend .container;
  flex-direction: row;
  height: 590px;
  gap: 104px;
}

/* .container-regular-3 {
  @extend .container;
  height: 618px;
  width: 960px;
  gap: 72px;
}
 */
/* .container-regular-4 {
  @extend .container;
  height: 353px;
  justify-content: center;
  align-content: center;
} */

.container-blog {
  @extend .container;
  height: 616px;
  gap: 56px;
}
/* 
.container-footer {
  @extend .container;
  height: 380px;
  gap: 40px;
} */

@media screen and (max-width: 648px) {
  /* .banner {
    padding: 24px 12px;
  } */

  /* .header {
    padding: 64px 16px;
    height: 1265px;
  } */

  /* .section-1 {
    padding: 32px 16px;
    height: 2132px;
  } */

  .section-companies {
    padding: 32px 16px;
    height: 586px;
  }

  /* .section-2 {
    padding: 32px 16px;
    height: 862px;
  } */

  .section-3 {
    padding: 32px 16px;
    height: 677px;
  }

  /* .blog-section {
    padding: 32px 16px;
    height: 754px;
  } */
  /* .section-4 {
    padding: 32px 16px;
    height: 502px;
  } */

  /* .footer {
    padding: 32px 16px;
    height: 511px;
  } */
  /* .container-blog {
    width: 338px;
    height: 689px;
  } */
  /* .container-regular-4 {
    width: 338px;
    height: 690px;
    gap: 82px;
  }
 */
  /* .container-regular-3 {
    width: 338px;
    height: 613px;
  } */

  .container-regular-2 {
    flex-direction: column;
    width: 338px;
    height: 798px;
    gap: 0;
  }

  /* .container-companies {
    width: 338px;
    height: 522px;
  } */
 /*  .container-regular-1 {
    width: 338px;
    height: 2067px;
    gap: 58px;
  } */
/* 
  .container-header {
    width: 343px;
    height: 1135px;
    gap: 32px;
  } */

  /* .container-banner {
    width: 352.5px;
    height: 46px;
    gap: 32px;
  } */

  .footer-layout {
    width: 335px;
    gap: 0;
    flex-direction: column;
  }

  .footer-form-wrapper {
    width: 335px;
    flex-direction: column;
  }
}