.item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 390px;
  height: 310px;
  border: 1px solid #ebebef;
  padding: 41px;
  gap: 24px;
  &:hover {
    animation-play-state: paused;
  }
  p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #3e404c;
  }
}

.header {
  display: flex;
  width: 133px;
  height: 56px;
  gap: 14px;
  h6 {
    font-family: 'Archivo';
    font-size: 18px;
    font-weight: 700;
    color: #030407;
    box-sizing: border-box;
    align-self: center;
  }
}

.icon {
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  border: 1px solid #ebebef;
  padding: 12px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.card {
  display: flex;
  padding: 10px 15px;
  gap: 4px;
  background: #f1f8f4;
  div {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    color: #246b49;
  }
}
